.profile-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  direction: rtl;
}

.profile-card {
  background: #373535;
  border: 1px solid #5128b8;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}


.page-container {
  display: flex;
  justify-content: space-between; /* pushes main content left, menu right */
  align-items: flex-start;        /* prevents vertical centering */
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.right-menu {
  width: 250px;
  background-color: #f4f4f4;
  border-left: 1px solid #ddd;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.05);
  align-self: flex-start;
}

.right-menu h3 {
  margin-bottom: 16px;
  font-size: 18px;
  color: #333;
}

.right-menu ul {
  list-style: none;
  padding: 0;
}

.right-menu li {
  padding: 10px 0;
  cursor: pointer;
  color: #0077cc;
  border-bottom: 1px solid #ddd;
}

.right-menu li:hover {
  color: #005fa3;
  background-color: #eaeaea;
}